etcd 10.1.201.121 agi-cph-etcd01.int.agillic.eu
etcd 10.1.201.122 agi-cph-etcd02.int.agillic.eu
etcd 10.1.201.123 agi-cph-etcd03.int.agillic.eu

master 10.1.201.101 agi-cph-kubemaster01.int.agillic.eu
master 10.1.201.102 agi-cph-kubemaster02.int.agillic.eu
master 10.1.201.103 agi-cph-kubemaster03.int.agillic.eu

worker 10.1.201.201 agi-cph-kube01.int.agillic.eu
worker 10.1.201.202 agi-cph-kube02.int.agillic.eu
worker 10.1.201.203 agi-cph-kube03.int.agillic.eu
worker 10.1.201.204 agi-cph-kube04.int.agillic.eu
worker 10.1.201.205 agi-cph-kube05.int.agillic.eu
worker 10.1.201.206 agi-cph-kube06.int.agillic.eu